:root{
    --nav-primary: #f8f9fa;
    --background: #84272F;
}
*{
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin: 30px 0;
}
html,
.login-body {
    height: 100%;
}
body{
    background-color: rgba(133, 33, 41, 0.9);
  width: 100%;
  position: relative;
  flex-direction: column;
}

.navbar{
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px #000000;
  width: 100%;
  z-index: 5050;
    padding: 0 50px;
}

.location
.container-fluid, .container {
  padding-top:50px;
}

.table td{
  text-align: center;
  padding: 0;
}

.table th{
  text-align: center;
}

td i{
  color: black;
  font-size: 20px;
    transition: 1s font-size;
}

td i:hover{
    font-size: 40px;
}
